#nav ul li.title2 a{
    background-color: #22B14C;
    color: white;
}
#ranking{
    border-top: 2px solid #22B14C;;
    margin: 0 auto;
    margin-bottom: 100px;
}
#ranking th{
    border-bottom: 2px solid #22B14C;
    padding: 10px 80px 10px 80px;
    color: grey;
}
#ranking a{
    color: grey;
}
#ranking a:hover{
    color: #22B14C;
}

#page{
    margin: 0 auto;
}