#logo{
    margin: 0 auto;
    width: 900px;
    height: 110px;
    margin-top: 10px;
    padding-left: 500px;
}
#login{
    border-top: 2px solid #22B14C;
    margin: 0 auto;
    width: 350px;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 100px;
    color: #22B14C;
    text-align: center;
}
table td{
    padding-right: 50px;
    padding-bottom: 10px;
}
#login a{
    display: block;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    color: black;
}

#login a:link{
    color: #22B14C;
}
#login a:hover{
    text-decoration: underline;
    color: #22B14C;
}
